project_id       = "optimum-web-487816-v4"
region           = "europe-west1"
service_name     = "dev-signal"
ai_assets_bucket = "dev-signal-gde"

secrets = {
  DEVTO_API_KEY      = "your-devto-api-key-here"
  DK_API_KEY         = "your-dk-api-key-here"
  DAILYDEV_API_TOKEN = "dda_your-daily-dev-token-here"
}
